<h1> Check Your Favourite Exercises </h1> 

<% if @exercises.empty? %>
    <h2> No exercise has been listed yet. Create one <%= link_to "here", new_exercise_path %> </h2>
<% else %> 
    <ol>   
        <%= @exercises.each do |e| %>
                
            <li> <strong> Exercise Name: </strong> <%= e.title %> </li> 
            <br> 

            <strong> Description: </strong> <%= e.description %>
            <br>
                
            <% link_to "Edit Exercise", '/exercises/:id/edit' %>
            <br>
             
            <strong> Category: </strong> <%= e.category.name %> 
            <br>
            
            <% link_to "Edit Category", '/categories/:id/edit' %>
            <br>
                
            <%= button_to "Delete Record", [e, @category], method: :delete %>
            <br>
            <br>

        <% end %> 
    </ol> 
<% end %> 

   
