<h1> New Exercise </h1> 
<% if !@exercise.errors.empty? %> 
<%= @exercise.errors.each {|error| error.full_message } %> 
<% end %> 

<%= form_for(@exercise) do |f| %> 
    <%= f.label :title %> 
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label :description %> 
    <%= f.text_area :description %>
    <br>
    <br>
    <%= f.submit :"Add The Exercise" %> 
<% end %> 

